flow.json
[{"id":"410091b5.cba5","type":"tab","label":"deviceListHandler","disabled":false,"info":""},{"id":"22b23614.75c2ca","type":"tab","label":"dbHandler","disabled":false,"info":""},{"id":"c55192f2.07661","type":"tab","label":"inspectLogs","disabled":false,"info":""},{"id":"c5669537.d71768","type":"tab","label":"advanced","disabled":false,"info":"**Tab:** Advanced"},{"id":"3a013bf6.47ece4","type":"tab","label":"debug","disabled":false,"info":""},{"id":"9755adca.c3eda","type":"subflow","name":"setAnswerTopic","info":"Use `msg.group` to give a specific name to the flow property. Sets the `flow.<msg.group>.topic` of the parent flow to match the query topic.","category":"","in":[{"x":60,"y":80,"wires":[{"id":"16e37238.7e311e"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"16e37238.7e311e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"570a93d6.30b89c","type":"subflow","name":"multiline text","info":"The **msg.payload** must be a long string. It can contain carriage returns. If there is overflow, scrollbars are added.\n\n**msg.title** sets the title of the text box.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"f9f8960f.de5578"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"da87a890.491058","type":"subflow","name":"formatChartData","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b7d31fcd.a97d1"}]}],"out":[{"x":300,"y":40,"wires":[{"id":"b7d31fcd.a97d1","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1013011c.82c3ef","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a22f749.6390c8","type":"ui_tab","z":"","name":"Advanced","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"3b241c9d.d7d464","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffe111","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#d0b600","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#d0b600","edited":true},"page-titlebar-backgroundColor":{"value":"#d0b600","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffe31d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#d0b600","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fc05906.0c6828","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bioreactors","name":"","usetls":false,"tls":""},{"id":"371271e4.ff0abe","type":"ui_group","z":"","name":"Query device","tab":"2a22f749.6390c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"3d2b6406.9676ac","type":"ui_group","z":"","name":"Current settings","tab":"2a22f749.6390c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"60f23d23.b883c4","type":"ui_group","z":"","name":"Select device","tab":"2a22f749.6390c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af83a5be.9d0fc8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bioreactors_hour","name":"","usetls":false,"tls":""},{"id":"b233375f.9317a8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bioreactors_day","name":"","usetls":false,"tls":""},{"id":"10a222b2.f71fcd","type":"ui_tab","z":"","name":"Inspect logs","icon":"show_chart","order":2,"disabled":false,"hidden":false},{"id":"ee4e2792.421568","type":"ui_group","z":"","name":"Settings","tab":"10a222b2.f71fcd","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f05f1c7.a48d4","type":"ui_group","z":"","name":"Current measurements","tab":"10a222b2.f71fcd","order":3,"disp":true,"width":"6","collapse":false},{"id":"1eebb73a.aa59f9","type":"ui_group","z":"","name":"Charts","tab":"10a222b2.f71fcd","order":4,"disp":true,"width":6,"collapse":false},{"id":"8b00ba39.a95b78","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bioreactors_minute","name":"","usetls":false,"tls":""},{"id":"84bd1221.0e2e9","type":"ui_group","z":"","name":"Update time","tab":"2a22f749.6390c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"813ecbab.e7f998","type":"ui_spacer","name":"spacer","group":"84bd1221.0e2e9","order":2,"width":2,"height":1},{"id":"880c5173.0d01b","type":"ui_spacer","name":"spacer","group":"84bd1221.0e2e9","order":4,"width":2,"height":1},{"id":"e28017d7.829348","type":"ui_spacer","name":"spacer","group":"84bd1221.0e2e9","order":5,"width":6,"height":1},{"id":"a333e021.04ce9","type":"ui_tab","z":"","name":"Debug","icon":"bug_report","order":1,"disabled":false,"hidden":false},{"id":"72ca987d.48da18","type":"ui_group","z":"","name":"Last 100 debug messages","tab":"a333e021.04ce9","order":2,"disp":true,"width":12,"collapse":false},{"id":"b3afbbe5.0b0968","type":"ui_group","z":"","name":"Devices list","tab":"a333e021.04ce9","order":1,"disp":true,"width":"6","collapse":false},{"id":"6276e35b.2b6c9c","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":570,"y":900,"wires":[]},{"id":"8e0837cc.c1f918","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":110,"y":1000,"wires":[["622228dd.0d92f8"]]},{"id":"96240e96.f99f4","type":"ui_text_input","z":"c5669537.d71768","name":"command","label":"Command","tooltip":"","group":"371271e4.ff0abe","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":100,"y":900,"wires":[["94cbc66c.76d958"]]},{"id":"16e37238.7e311e","type":"function","z":"9755adca.c3eda","name":"setAnswerTopic","func":"let array = msg.topic.split('/');\narray[1]= 'a';\nlet answerTopic = array.join('/');\n\nflow.set(`$parent.${msg.group}.topic`, answerTopic);\n\nmsg.answerTopic = answerTopic;\n\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":80,"wires":[[]]},{"id":"f9f8960f.de5578","type":"ui_template","z":"570a93d6.30b89c","group":"371271e4.ff0abe","name":"Multiline text","order":2,"width":0,"height":0,"format":"<style>\n    #mylog {\n        min-height: 300px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":80,"wires":[[]]},{"id":"622228dd.0d92f8","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"queryDevice.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":1000,"wires":[["3871b0fe.61af9","6ac88092.5ae6"]]},{"id":"3871b0fe.61af9","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":980,"wires":[]},{"id":"21ca9a59.9693d6","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":400,"y":900,"wires":[["6276e35b.2b6c9c","93c8ec3a.c35c7"]]},{"id":"93c8ec3a.c35c7","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":580,"y":860,"wires":[]},{"id":"94cbc66c.76d958","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nmsg.group = \"queryDevice\";\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":900,"wires":[["21ca9a59.9693d6"]]},{"id":"fe8a5701.0971d8","type":"mqtt out","z":"22b23614.75c2ca","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":650,"y":260,"wires":[]},{"id":"fdd6394.b294ac8","type":"mqtt in","z":"22b23614.75c2ca","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":90,"y":400,"wires":[["e85a9e1f.065c9"]]},{"id":"ea5ea00.d6a596","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":400,"wires":[]},{"id":"e9885fd1.f821a","type":"function","z":"22b23614.75c2ca","name":"parseMultilog","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\nmsg.deviceId = parts[2];\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseMultilog(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nmsg.payload = data;\n\nreturn msg;","outputs":2,"noerr":0,"x":390,"y":400,"wires":[["f23c470d.dad1f8"],["1cef8f82.9e01f"]]},{"id":"e85a9e1f.065c9","type":"switch","z":"22b23614.75c2ca","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dbHandler.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":400,"wires":[["e9885fd1.f821a"]]},{"id":"ae061b5f.fbae68","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":440,"y":220,"wires":[]},{"id":"ac8535d6.06a1e8","type":"subflow:9755adca.c3eda","z":"22b23614.75c2ca","name":"","x":460,"y":260,"wires":[["fe8a5701.0971d8"]]},{"id":"5370f8a4.943d88","type":"function","z":"22b23614.75c2ca","name":"setTopic","func":"let startLog = msg.payload[0].last + 1;\n\n// tmp line!!!\n// msg.topic = `bioreactor/q/${msg.deviceId}/lm76192`;\n\nmsg.topic = `bioreactor/q/${msg.deviceId}/lm${startLog}`;\n\nmsg.group = \"dbHandler\";\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["ac8535d6.06a1e8","ae061b5f.fbae68"]]},{"id":"e8db3f7a.654f6","type":"inject","z":"22b23614.75c2ca","name":"query last log","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.2","x":120,"y":100,"wires":[["b4d7493a.c21da8"]]},{"id":"b393ac06.23f5f","type":"influxdb out","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"","measurement":"","precision":"","retentionPolicy":"","x":780,"y":440,"wires":[]},{"id":"f23c470d.dad1f8","type":"function","z":"22b23614.75c2ca","name":"formatDbEntry","func":"msg.measurement = `bio_${msg.deviceId}`;\n\n// if (msg.payload.length === 0) {\n//     return msg;\n// }\n\nlet logNumber = msg.payload.length;\nlet startId = msg.payload[0].id;\nlet endId = msg.payload[logNumber - 1].id;\n\nmsg.debug = {\n    id: msg.deviceId,\n    message: `Adding ${msg.payload.length} logs to ${msg.measurement}, IDs: ${startId} - ${endId}`,\n    type: 'InfluxDB',\n}\n\nmsg.payload = msg.payload.map(entry => formatEntry(entry));\n\nreturn msg;\n\nfunction formatEntry(entry) {\n    // multiplying by 1e6 to match influx timestamp format\n    entry.time = entry.epoch*1e6;\n    delete entry.epoch;\n    delete entry.deviceId;\n    return [entry];\n}","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["ea5ea00.d6a596","b393ac06.23f5f","fa1c7f56.eb2ca","3c54a614.ca1c0a"]]},{"id":"7ffe98aa.c60f58","type":"inject","z":"410091b5.cba5","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["256ab39c.1a007c"]]},{"id":"c748e9ab.a30f88","type":"change","z":"410091b5.cba5","name":"","rules":[{"t":"set","p":"deviceList","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":100,"wires":[[]]},{"id":"6ac88092.5ae6","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"title","pt":"msg","to":"Answer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1020,"wires":[["5c5917cc.840a68"]]},{"id":"5c5917cc.840a68","type":"ui_template","z":"c5669537.d71768","group":"371271e4.ff0abe","name":"Multiline text","order":3,"width":0,"height":0,"format":"<style>\n    #mylog {\n        padding: 0;\n        white-space: pre;\n        min-height: 300px;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":1020,"wires":[[]]},{"id":"2cdd2643.caf20a","type":"comment","z":"c5669537.d71768","name":"\"Query device\" group (Advanced)","info":"","x":170,"y":840,"wires":[]},{"id":"399c67ed.f0d1a8","type":"influxdb in","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":620,"y":140,"wires":[["a0bf4b47.940f28","5370f8a4.943d88"]]},{"id":"cc931c36.d959e","type":"function","z":"22b23614.75c2ca","name":"setQuery","func":"msg.deviceId = msg.payload;\n\nmsg.query = `select last(\"id\") from \"bio_${msg.deviceId}\"`;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":100,"wires":[["399c67ed.f0d1a8","26ee51a0.d7e11e"]]},{"id":"b4d7493a.c21da8","type":"change","z":"22b23614.75c2ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[["f810f7f3.501fd8"]]},{"id":"f810f7f3.501fd8","type":"split","z":"22b23614.75c2ca","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":100,"wires":[["cc931c36.d959e"]]},{"id":"26ee51a0.d7e11e","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":40,"wires":[]},{"id":"a0bf4b47.940f28","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":80,"wires":[]},{"id":"fa1c7f56.eb2ca","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","targetType":"msg","x":770,"y":360,"wires":[]},{"id":"c0ff1f96.d2b8b","type":"comment","z":"22b23614.75c2ca","name":"Format logs and store in correct db measurement","info":"","x":200,"y":360,"wires":[]},{"id":"d34282e9.f37ce","type":"comment","z":"22b23614.75c2ca","name":"Send MQTT query","info":"","x":110,"y":160,"wires":[]},{"id":"1bbcf7ef.020598","type":"comment","z":"22b23614.75c2ca","name":"Create message stream for all connected devices","info":"","x":200,"y":60,"wires":[]},{"id":"256ab39c.1a007c","type":"influxdb in","z":"410091b5.cba5","influxdb":"4fc05906.0c6828","name":"get db list","query":"show measurements","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":80,"wires":[["ea9dcd2a.3b05c"]]},{"id":"ea9dcd2a.3b05c","type":"function","z":"410091b5.cba5","name":"setList","func":"let db = msg.payload.map(i => mapFilter(i));\n\nmsg.payload = {\n    connected: ['9266'],\n    db\n};\n\nreturn msg;\n\nfunction mapFilter(entry) {\n    let parts = entry.name.split('_');\n    if (parts.length >= 2) {\n        return parts[1];\n    }\n}","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["c748e9ab.a30f88","8919f392.970a3"]]},{"id":"8919f392.970a3","type":"debug","z":"410091b5.cba5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":60,"wires":[]},{"id":"f6454e81.5a806","type":"comment","z":"410091b5.cba5","name":"Get db device lists","info":"","x":130,"y":40,"wires":[]},{"id":"1cef8f82.9e01f","type":"function","z":"22b23614.75c2ca","name":"checkEpoch","func":"msg.deviceTime = msg.payload[msg.payload.length - 1].epoch;\n\nif ( Date.now() - msg.deviceTime > 10000) {\n    \n    let date = new Date(msg.deviceTime);\n    \n    \n    msg.topic='Time error';\n    msg.payload = `Device with id ${msg.deviceId} has current time ${date}`;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["8d8c8c15.05cd8"]]},{"id":"1c5049a0.0a5c96","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"deviceTime","targetType":"msg","x":540,"y":520,"wires":[]},{"id":"658abe75.3f387","type":"ui_toast","z":"22b23614.75c2ca","position":"dialog","displayTime":"5","highlight":"#968300","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"popup","x":510,"y":560,"wires":[[]]},{"id":"7e7604be.4caa9c","type":"comment","z":"22b23614.75c2ca","name":"Check that device time is correct","info":"","x":270,"y":580,"wires":[]},{"id":"8d8c8c15.05cd8","type":"rbe","z":"22b23614.75c2ca","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":540,"wires":[["1c5049a0.0a5c96","658abe75.3f387"]]},{"id":"896dbfec.0943b","type":"ui_dropdown","z":"c55192f2.07661","name":"","label":"Device","tooltip":"","place":"Select option","group":"ee4e2792.421568","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":390,"y":80,"wires":[["f282bfc1.1ab75","e3ed9314.292aa","9f3ac3b7.5d7fd"]]},{"id":"9b699401.789fa8","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"deviceList.db","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"deviceList.db[1]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":80,"wires":[["896dbfec.0943b"]]},{"id":"f282bfc1.1ab75","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"inspectLogs.currentDevice","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[[]]},{"id":"e3ed9314.292aa","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"c90bd1b1.00e","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":80,"y":80,"wires":[["9b699401.789fa8"]]},{"id":"8d4f6d4f.c525e","type":"comment","z":"c55192f2.07661","name":"\"Settings\" group (Inspect logs)","info":"","x":140,"y":40,"wires":[]},{"id":"9f3ac3b7.5d7fd","type":"ui_text","z":"c55192f2.07661","d":true,"group":"ee4e2792.421568","order":2,"width":0,"height":0,"name":"","label":"Selected device ID: ","format":"{{msg.payload}}","layout":"row-left","x":610,"y":40,"wires":[]},{"id":"5eb284c6.25074c","type":"ui_gauge","z":"c55192f2.07661","name":"currentWeight","group":"6f05f1c7.a48d4","order":1,"width":"3","height":"3","gtype":"gage","title":"Weight","label":"","format":"{{value}}g","min":0,"max":"1000","colors":["#16a900","#ecdc00","#d70000"],"seg1":"","seg2":"","x":740,"y":320,"wires":[]},{"id":"eaac0d4.76721f","type":"influxdb in","z":"c55192f2.07661","influxdb":"4fc05906.0c6828","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":340,"y":280,"wires":[["61a9cf7c.cf0e5","31b2c371.f161cc","4fc15b1.10897a4"]]},{"id":"4c2cbbb0.c8d9a4","type":"inject","z":"c55192f2.07661","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":240,"wires":[["71835682.736068"]]},{"id":"71835682.736068","type":"function","z":"c55192f2.07661","name":"set query","func":"let id = global.get(\"inspectLogs.currentDevice\");\n\nmsg.query = `select last(grWeight) as grWeight, last(liquidTemp) as liquidTemp from bio_${id}`;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["eaac0d4.76721f"]]},{"id":"61a9cf7c.cf0e5","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":280,"wires":[]},{"id":"31b2c371.f161cc","type":"change","z":"c55192f2.07661","name":"weight","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].grWeight","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":320,"wires":[["5eb284c6.25074c"]]},{"id":"b6cf23fa.1086e","type":"comment","z":"c55192f2.07661","name":"\"Current measurements\" group (Inspect logs)","info":"","x":190,"y":200,"wires":[]},{"id":"77742543.c67bbc","type":"ui_gauge","z":"c55192f2.07661","name":"currentLiquidTemp","group":"6f05f1c7.a48d4","order":2,"width":"3","height":"3","gtype":"gage","title":"Liquid temperature","label":"","format":"{{value}}°C","min":0,"max":"50","colors":["#000dff","#ff00ee","#ff0008"],"seg1":"","seg2":"","x":750,"y":360,"wires":[]},{"id":"4fc15b1.10897a4","type":"change","z":"c55192f2.07661","name":"liquidTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].liquidTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["77742543.c67bbc"]]},{"id":"d3f8655d.594b28","type":"comment","z":"c55192f2.07661","name":"Fetching charts data","info":"","x":150,"y":720,"wires":[]},{"id":"82e0dfd4.c1e2b","type":"ui_chart","z":"c55192f2.07661","name":"weight chart","group":"1eebb73a.aa59f9","order":2,"width":0,"height":0,"label":"Weight [g]","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No valid data received","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":1000,"wires":[[]]},{"id":"f864c319.3c09c","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":960,"wires":[]},{"id":"f0eff83.f9b4508","type":"influxdb in","z":"c55192f2.07661","influxdb":"4fc05906.0c6828","name":"bioreactors","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":700,"wires":[["8041d33.b5b5f3"]]},{"id":"45cb0038.bf581","type":"ui_dropdown","z":"c55192f2.07661","name":"","label":"Time scale","tooltip":"","place":"Select option","group":"1eebb73a.aa59f9","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"1 hour","value":"1h","type":"str"},{"label":"8 hours","value":"8h","type":"str"},{"label":"1 day","value":"1d","type":"str"},{"label":"1 week","value":"7d","type":"str"},{"label":"4 weeks","value":"28d","type":"str"},{"label":"10 weeks","value":"140d","type":"str"},{"label":"1 year","value":"365d","type":"str"}],"payload":"","topic":"","x":490,"y":580,"wires":[["5730ac9e.66b284","48e61858.9cf668"]]},{"id":"fbe555d1.d65818","type":"function","z":"c55192f2.07661","name":"set query","func":"let id = global.get(\"inspectLogs.currentDevice\");\nlet timeScale = flow.get(\"timeScale\");\n\nmsg.db = 'day';\n\nif ('1h' === timeScale) {\n    msg.db = 'raw';\n} else if ('8h' === timeScale) {\n    msg.db = 'minute';\n} else if (['1d', '1w'].includes(timeScale)) {\n    msg.db = 'hour';\n}\n\nlet fields = '';\nif (msg.db === 'raw') {\n    fields = 'grWeight, liquidTemp, pidTemp, targetTemp';\n} else {\n    fields = 'median_grWeight as grWeight, median_liquidTemp as liquidTemp, median_pidTemp as pidTemp, median_targetTemp as targetTemp';\n}\n\nmsg.query = `select ${fields} from bio_${id} where time > now() - ` + timeScale;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":760,"wires":[["4ab369e5.9ce6a8","cccd2899.69c448"]]},{"id":"a61ede83.deb11","type":"inject","z":"c55192f2.07661","name":"10s repeat","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":760,"wires":[["fbe555d1.d65818"]]},{"id":"4ab369e5.9ce6a8","type":"switch","z":"c55192f2.07661","name":"","property":"db","propertyType":"msg","rules":[{"t":"eq","v":"raw","vt":"str"},{"t":"eq","v":"minute","vt":"str"},{"t":"eq","v":"hour","vt":"str"},{"t":"eq","v":"day","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":760,"wires":[["f0eff83.f9b4508"],["56e251b1.f8341"],["ff3b93a4.0d3f"],["66c6360.657eccc"]]},{"id":"56e251b1.f8341","type":"influxdb in","z":"c55192f2.07661","influxdb":"8b00ba39.a95b78","name":"bioreactors_minute","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":740,"wires":[["8041d33.b5b5f3"]]},{"id":"ff3b93a4.0d3f","type":"influxdb in","z":"c55192f2.07661","influxdb":"af83a5be.9d0fc8","name":"bioreactors_hour","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":780,"wires":[["8041d33.b5b5f3"]]},{"id":"66c6360.657eccc","type":"influxdb in","z":"c55192f2.07661","influxdb":"b233375f.9317a8","name":"bioreactors_day","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":620,"y":820,"wires":[["8041d33.b5b5f3"]]},{"id":"cccd2899.69c448","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":410,"y":700,"wires":[]},{"id":"8041d33.b5b5f3","type":"link out","z":"c55192f2.07661","name":"chartsData","links":["a4980f5b.37dc1","a868cbba.243cb8"],"x":795,"y":760,"wires":[]},{"id":"a4980f5b.37dc1","type":"link in","z":"c55192f2.07661","name":"chartsData","links":["8041d33.b5b5f3"],"x":75,"y":1000,"wires":[["90cb9a77.337538"]]},{"id":"90cb9a77.337538","type":"function","z":"c55192f2.07661","name":"set series","func":"msg.series = ['grWeight'];\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1000,"wires":[["612a62e8.7d433c"]]},{"id":"b7d31fcd.a97d1","type":"function","z":"da87a890.491058","name":"formatChartData","func":"let chart = [{\n    \"series\": msg.series,\n    \"data\": [],\n    \"labels\": msg.series,\n}];\n\nfor (let serie of msg.series) {\n    addSerie(chart, msg.payload, serie);\n}\n\nmsg.payload = chart;\n\nreturn msg;\n\nfunction addSerie(chart, data, field) {\n    let serie = [];\n    for (let i = 0; i < data.length; i++) {\n        let entry = data[i];\n        let point = { \"x\": entry.time, \"y\": entry[field]};\n        serie.push(point);\n        if (i === data.length - 1) {\n            chart[0].data.push(serie);\n        }\n    }\n}","outputs":1,"noerr":0,"x":170,"y":40,"wires":[[]]},{"id":"612a62e8.7d433c","type":"subflow:da87a890.491058","z":"c55192f2.07661","name":"","x":350,"y":1000,"wires":[["f864c319.3c09c","82e0dfd4.c1e2b"]]},{"id":"99be40a7.6e8b8","type":"ui_chart","z":"c55192f2.07661","name":"liquidTemp chart","group":"1eebb73a.aa59f9","order":3,"width":0,"height":0,"label":"Liquid temperature [°C]","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No valid data received","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":1120,"wires":[[]]},{"id":"ed30e3a6.3c395","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1080,"wires":[]},{"id":"a868cbba.243cb8","type":"link in","z":"c55192f2.07661","name":"chartsData","links":["8041d33.b5b5f3"],"x":75,"y":1120,"wires":[["625f924e.acd20c"]]},{"id":"625f924e.acd20c","type":"function","z":"c55192f2.07661","name":"set series","func":"let showPidData = flow.get('showPidData');\n\nif (showPidData) {\n    msg.series = ['liquidTemp', 'targetTemp', 'pidTemp'];\n} else {\n    msg.series = ['liquidTemp'];\n}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1120,"wires":[["b297febf.ac0b8"]]},{"id":"b297febf.ac0b8","type":"subflow:da87a890.491058","z":"c55192f2.07661","name":"","x":350,"y":1120,"wires":[["ed30e3a6.3c395","99be40a7.6e8b8"]]},{"id":"21aaef33.110d2","type":"comment","z":"c55192f2.07661","name":"Weight chart","info":"","x":130,"y":960,"wires":[]},{"id":"85b285b7.098c08","type":"comment","z":"c55192f2.07661","name":"Liquid temperature chart","info":"","x":170,"y":1080,"wires":[]},{"id":"ceac863e.3749d8","type":"comment","z":"c55192f2.07661","name":"\"Charts\" group (Inspect logs)","info":"","x":160,"y":920,"wires":[]},{"id":"296b6597.0f617a","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1h","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["45cb0038.bf581"]]},{"id":"d1253bf7.f5d3c8","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":160,"y":580,"wires":[["296b6597.0f617a"]]},{"id":"7cc24d6e.1b9af4","type":"ui_switch","z":"c55192f2.07661","name":"","label":"Show PID data","tooltip":"","group":"1eebb73a.aa59f9","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":480,"wires":[["42415db5.ae3d84","89131278.d6f2c"]]},{"id":"42415db5.ae3d84","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"showPidData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":480,"wires":[[]]},{"id":"c52a17f7.8d06d8","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["7cc24d6e.1b9af4"]]},{"id":"70095def.549ef4","type":"ui_ui_control","z":"c55192f2.07661","name":"","events":"all","x":160,"y":480,"wires":[["c52a17f7.8d06d8"]]},{"id":"89131278.d6f2c","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":440,"wires":[]},{"id":"1fb449ce.3d4196","type":"inject","z":"c55192f2.07661","name":"Test input","topic":"","payload":"1h","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["c52a17f7.8d06d8"]]},{"id":"d4b9106e.1834a","type":"comment","z":"c55192f2.07661","name":"Setting charts parameters","info":"","x":150,"y":440,"wires":[]},{"id":"5730ac9e.66b284","type":"change","z":"c55192f2.07661","name":"","rules":[{"t":"set","p":"timeScale","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":580,"wires":[[]]},{"id":"48e61858.9cf668","type":"debug","z":"c55192f2.07661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":540,"wires":[]},{"id":"2f5ecb43.de6d54","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":630,"y":340,"wires":[]},{"id":"8e28e80c.d5df78","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":130,"y":400,"wires":[["20b33904.69e266"]]},{"id":"20b33904.69e266","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"updateTime.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["ecf7d50.9616428"]]},{"id":"2a70fd0a.ac8582","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":440,"wires":[]},{"id":"8510f720.215bf8","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":460,"y":340,"wires":[["2f5ecb43.de6d54","60f32f9f.c5f1"]]},{"id":"60f32f9f.c5f1","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":640,"y":300,"wires":[]},{"id":"36d691a7.33a0fe","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/ue${Math.round(Date.now()/1000)}`;\n}\n\nmsg.group = \"updateTime\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["8510f720.215bf8"]]},{"id":"f2b18749.357348","type":"comment","z":"c5669537.d71768","name":"\"Update time\" group (Advanced)","info":"","x":190,"y":260,"wires":[]},{"id":"1a5bd5bd.5ee6da","type":"ui_button","z":"c5669537.d71768","name":"","group":"84bd1221.0e2e9","order":3,"width":2,"height":1,"passthru":false,"label":"Update time","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["36d691a7.33a0fe"]]},{"id":"b3468eb7.a609d","type":"ui_text","z":"c5669537.d71768","group":"84bd1221.0e2e9","order":1,"width":0,"height":0,"name":"text","label":"Click on the button below to manually update the time of the selected device.","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":300,"wires":[]},{"id":"ecf7d50.9616428","type":"function","z":"c5669537.d71768","name":"formatPopup","func":"// from arduino epoch to js (s to ms)\nlet newTime = new Date(msg.payload*1000);\n\nlet id = flow.get('currentDevice');\n\nmsg.topic=`Time updated for device ${id}`;\nmsg.payload = `New time: ${newTime}.`;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["2a70fd0a.ac8582","6e0e97a7.a06698"]]},{"id":"6e0e97a7.a06698","type":"ui_toast","z":"c5669537.d71768","position":"dialog","displayTime":"5","highlight":"#968300","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"popup","x":610,"y":400,"wires":[[]]},{"id":"14fea4e9.69fe4b","type":"ui_dropdown","z":"c5669537.d71768","name":"","label":"","tooltip":"","place":"Select option","group":"60f23d23.b883c4","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":420,"y":100,"wires":[["9bad2535.86fa08","54ad25b6.307d6c","c8507a5.ae52788"]]},{"id":"15c2d2df.4ff6fd","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"deviceList.connected","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected[0]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":100,"wires":[["14fea4e9.69fe4b"]]},{"id":"9bad2535.86fa08","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"currentDevice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":100,"wires":[[]]},{"id":"54ad25b6.307d6c","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":140,"wires":[]},{"id":"c2afc01b.9c9e5","type":"ui_ui_control","z":"c5669537.d71768","name":"","events":"all","x":100,"y":100,"wires":[["15c2d2df.4ff6fd"]]},{"id":"1c77c315.ce634d","type":"comment","z":"c5669537.d71768","name":"\"Select device\" group (Advanced)","info":"","x":170,"y":60,"wires":[]},{"id":"c8507a5.ae52788","type":"ui_text","z":"c5669537.d71768","group":"60f23d23.b883c4","order":2,"width":0,"height":0,"name":"","label":"Selected device ID: ","format":"{{msg.payload}}","layout":"row-left","x":620,"y":60,"wires":[]},{"id":"68a398f1.3a04d8","type":"inject","z":"c5669537.d71768","name":"send command","topic":"","payload":"uc","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1240,"wires":[["45c57f96.b7822"]]},{"id":"1411f6e1.5aa579","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":810,"y":1240,"wires":[]},{"id":"6b12b22f.d6b20c","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":110,"y":1380,"wires":[["ba57c4c9.227f18"]]},{"id":"924641da.f82ed","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1320,"wires":[]},{"id":"4c7f816b.099ca","type":"function","z":"c5669537.d71768","name":"parser","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: true,\n    parametersArray: true,\n    flatten: false\n  });\n\n\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1380,"wires":[["924641da.f82ed","c4638bb5.d70558","c9d46d4b.466dd","3657dc0f.f1b154","14d65ca8.488213"]]},{"id":"ba57c4c9.227f18","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"currentSettings.topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":1380,"wires":[["4c7f816b.099ca"]]},{"id":"45ea8568.3f8d6c","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":1200,"wires":[]},{"id":"ca3ba66b.42f468","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":640,"y":1240,"wires":[["1411f6e1.5aa579"]]},{"id":"2298c71.c316838","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = flow.get('currentDevice');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nmsg.group = \"currentSettings\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1240,"wires":[["ca3ba66b.42f468","45ea8568.3f8d6c"]]},{"id":"1c87bce2.a49f93","type":"ui_table","z":"c5669537.d71768","group":"3d2b6406.9676ac","name":"","order":5,"width":6,"height":9,"columns":[{"field":"name","title":"Setting","width":"55%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"Value","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"unit","title":"Unit","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":730,"y":1480,"wires":[]},{"id":"c4638bb5.d70558","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.parametersArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1480,"wires":[["1c87bce2.a49f93"]]},{"id":"eb1b8868.148b58","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":2,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}}","layout":"row-center","x":730,"y":1360,"wires":[]},{"id":"944bd776.d33a68","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":3,"width":3,"height":1,"name":"","label":"Device ID","format":"{{msg.payload}}","layout":"col-center","x":740,"y":1400,"wires":[]},{"id":"f817ad0e.97837","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":4,"width":3,"height":1,"name":"","label":"Device code","format":"{{msg.payload}}","layout":"col-center","x":750,"y":1440,"wires":[]},{"id":"c9d46d4b.466dd","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1440,"wires":[["f817ad0e.97837"]]},{"id":"3657dc0f.f1b154","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1400,"wires":[["944bd776.d33a68"]]},{"id":"af71b2a2.3586a","type":"comment","z":"c5669537.d71768","name":"\"Current settings\" group (Advanced)","info":"","x":160,"y":1100,"wires":[]},{"id":"204a2973.b7cc96","type":"ui_switch","z":"c5669537.d71768","d":true,"name":"switch","label":"Get current settings","tooltip":"","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":110,"y":1160,"wires":[["e3132f0d.55834"]]},{"id":"45c57f96.b7822","type":"gate","z":"c5669537.d71768","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":330,"y":1240,"wires":[["2298c71.c316838"]]},{"id":"e3132f0d.55834","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1200,"wires":[["45c57f96.b7822","a46bfc05.d7939"]]},{"id":"a46bfc05.d7939","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":1180,"wires":[]},{"id":"14d65ca8.488213","type":"function","z":"c5669537.d71768","name":"format date","func":"let date = new Date(msg.payload.epoch);\n\ndate = date.toDateString() + ', ' + date.toLocaleTimeString();\n\nmsg.payload = date;\n// `${date.substr(0, 10)}, ${date.substr(12, 19)}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1360,"wires":[["eb1b8868.148b58","c1d5dee3.0e765"]]},{"id":"c1d5dee3.0e765","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":1320,"wires":[]},{"id":"43894dcd.d2f024","type":"comment","z":"c5669537.d71768","name":"Automatic time update","info":"","x":140,"y":500,"wires":[]},{"id":"47438f50.e4cf3","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceList.connected","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":620,"wires":[["1c3f8346.f5c82d","dac0cb24.7aafc8"]]},{"id":"1c3f8346.f5c82d","type":"split","z":"c5669537.d71768","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":620,"wires":[["f3bc8ad2.a32b08"]]},{"id":"c4c02eb2.0a14e","type":"inject","z":"c5669537.d71768","name":"send command","topic":"","payload":"uc","payloadType":"str","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["6548e45.8b2a31c"]]},{"id":"e0dc0da0.af5ef","type":"ui_switch","z":"c5669537.d71768","name":"switch","label":"Automatic time update","tooltip":"","group":"84bd1221.0e2e9","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":90,"y":580,"wires":[["1f996bf3.039d34"]]},{"id":"6548e45.8b2a31c","type":"gate","z":"c5669537.d71768","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":350,"y":620,"wires":[["47438f50.e4cf3"]]},{"id":"1f996bf3.039d34","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":580,"wires":[["6548e45.8b2a31c"]]},{"id":"5ea31ea6.22e5d","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":590,"y":680,"wires":[]},{"id":"e24a7ff1.c1a7b","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":420,"y":700,"wires":[["5ea31ea6.22e5d","78bdcb89.312b54"]]},{"id":"78bdcb89.312b54","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":580,"y":740,"wires":[]},{"id":"f3bc8ad2.a32b08","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let id = msg.payload;\n\nmsg.topic = `bioreactor/q/${id}/ue${Math.round(Date.now()/1000)}`;\n\nmsg.group = \"updateTime.auto\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":700,"wires":[["e24a7ff1.c1a7b"]]},{"id":"24650cbf.4acda4","type":"ui_text","z":"c5669537.d71768","group":"84bd1221.0e2e9","order":6,"width":0,"height":0,"name":"text","label":"Enabling the switch below will update the time of all connected devices every hour.","format":"{{msg.payload}}","layout":"row-spread","x":90,"y":540,"wires":[]},{"id":"21c1058b.e92c4a","type":"debug","z":"c5669537.d71768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":540,"wires":[]},{"id":"dac0cb24.7aafc8","type":"function","z":"c5669537.d71768","name":"formatPopup","func":"let devices = msg.payload.join(', ');\n\nmsg.topic=`Time updated automatically`;\nmsg.payload = `Device(s): ${devices}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["21c1058b.e92c4a","933fe2d0.e963b"]]},{"id":"933fe2d0.e963b","type":"ui_toast","z":"c5669537.d71768","position":"top right","displayTime":"5","highlight":"#968300","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"popup","x":830,"y":580,"wires":[]},{"id":"8787a649.7918f8","type":"ui_table","z":"3a013bf6.47ece4","group":"72ca987d.48da18","name":"","order":1,"width":"12","height":"6","columns":[],"outputs":0,"cts":false,"x":510,"y":500,"wires":[]},{"id":"108de205.af223e","type":"ui_table","z":"3a013bf6.47ece4","group":"b3afbbe5.0b0968","name":"DB devices","order":0,"width":"3","height":"4","columns":[{"field":"id","title":"DB","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":470,"y":120,"wires":[]},{"id":"58d49f3c.ecc59","type":"function","z":"3a013bf6.47ece4","name":"formatData","func":"let dbDevices = global.get(\"deviceList.db\");\n\nmsg.payload = dbDevices.map(id => ({id}));\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["108de205.af223e","39fefae5.fa9946"]]},{"id":"39fefae5.fa9946","type":"debug","z":"3a013bf6.47ece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":80,"wires":[]},{"id":"6a3817c.67ff7e8","type":"inject","z":"3a013bf6.47ece4","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["58d49f3c.ecc59","454ca1b8.45e5c"]]},{"id":"381730fa.88a22","type":"ui_table","z":"3a013bf6.47ece4","group":"b3afbbe5.0b0968","name":"Connected devices","order":0,"width":"3","height":"4","columns":[{"field":"id","title":"Connected","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":490,"y":160,"wires":[]},{"id":"454ca1b8.45e5c","type":"function","z":"3a013bf6.47ece4","name":"formatData","func":"let dbDevices = global.get(\"deviceList.connected\");\n\nmsg.payload = dbDevices.map(id => ({id}));\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["381730fa.88a22","b6802ed.5bf22d"]]},{"id":"b6802ed.5bf22d","type":"debug","z":"3a013bf6.47ece4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":200,"wires":[]},{"id":"e5b6d047.8dff","type":"ui_text","z":"3a013bf6.47ece4","group":"b3afbbe5.0b0968","order":2,"width":0,"height":0,"name":"text","label":"Listing all the devices IDs. DB refers to all the devices that have ever been connected to the GUI.","format":"","layout":"row-spread","x":450,"y":40,"wires":[]},{"id":"6ca08476.1510ec","type":"inject","z":"3a013bf6.47ece4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":340,"wires":[["963366be.ded448"]]},{"id":"963366be.ded448","type":"function","z":"3a013bf6.47ece4","name":"initialize debug","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["5678200.e2d52e"]]},{"id":"5678200.e2d52e","type":"change","z":"3a013bf6.47ece4","name":"","rules":[{"t":"set","p":"debug","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[[]]},{"id":"e8209bda.cd7af8","type":"comment","z":"3a013bf6.47ece4","name":"\"Devices list\" group (Debug)","info":"","x":180,"y":80,"wires":[]},{"id":"dbacb422.667418","type":"change","z":"3a013bf6.47ece4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"debug","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["8787a649.7918f8","6c3cbf6c.ae9e4"]]},{"id":"3c54a614.ca1c0a","type":"function","z":"22b23614.75c2ca","name":"debug","func":"msg.debug.time = new Date(Date.now());\n\nlet globalDebug = global.get(\"debug\");\n\nglobalDebug.unshift(msg.debug);\n\nglobalDebug.splice(100);\n\nglobal.set(\"debug\", globalDebug);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":320,"wires":[[]]},{"id":"6c3cbf6c.ae9e4","type":"debug","z":"3a013bf6.47ece4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":460,"wires":[]},{"id":"4a34a99.9379c58","type":"inject","z":"3a013bf6.47ece4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["dbacb422.667418"]]}]