flow.json
[{"id":"c5669537.d71768","type":"tab","label":"advancedTab","disabled":false,"info":""},{"id":"4489e6f.9f73318","type":"tab","label":"parseCurrentLog","disabled":false,"info":""},{"id":"22b23614.75c2ca","type":"tab","label":"dbHandler","disabled":true,"info":""},{"id":"410091b5.cba5","type":"tab","label":"deviceListHandler","disabled":false,"info":""},{"id":"9755adca.c3eda","type":"subflow","name":"setAnswerTopic","info":"Sets the \"flow.topic\" of the parent flow to match the query topic. ","category":"","in":[{"x":60,"y":80,"wires":[{"id":"16e37238.7e311e"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"16e37238.7e311e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1013011c.82c3ef","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a22f749.6390c8","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0d97701.38fda8","type":"ui_group","z":"","name":"Bioreactor monitor","tab":"2a22f749.6390c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b241c9d.d7d464","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffe111","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e0c50a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#e0c50a","edited":true},"page-titlebar-backgroundColor":{"value":"#e0c50a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f6df40","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#e0c50a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fc05906.0c6828","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bioreactors","name":"","usetls":false,"tls":""},{"id":"a60d88af.070a38","type":"inject","z":"4489e6f.9f73318","name":"set command","topic":"","payload":"uc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["5a126a59.195384"]]},{"id":"ae245219.14075","type":"mqtt out","z":"4489e6f.9f73318","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":630,"y":160,"wires":[]},{"id":"559f68bc.17ccf8","type":"mqtt in","z":"4489e6f.9f73318","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":210,"y":300,"wires":[["d2de87d4.5b8ec8"]]},{"id":"58191347.ec8f3c","type":"debug","z":"4489e6f.9f73318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":300,"wires":[]},{"id":"5cd7bb0a.098ec4","type":"function","z":"4489e6f.9f73318","name":"toJson","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["58191347.ec8f3c"]]},{"id":"6276e35b.2b6c9c","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":590,"y":100,"wires":[]},{"id":"8e0837cc.c1f918","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":150,"y":240,"wires":[["622228dd.0d92f8"]]},{"id":"96240e96.f99f4","type":"ui_text_input","z":"c5669537.d71768","name":"command","label":"Command","tooltip":"","group":"c0d97701.38fda8","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":120,"y":100,"wires":[["94cbc66c.76d958"]]},{"id":"16e37238.7e311e","type":"function","z":"9755adca.c3eda","name":"setAnswerTopic","func":"let array = msg.topic.split('/');\narray[1]= 'a';\nlet answerTopic = array.join('/');\n\nflow.set(\"$parent.topic\", answerTopic);\n\nmsg.answerTopic = answerTopic;\n\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":80,"wires":[[]]},{"id":"f9f8960f.de5578","type":"ui_template","z":"c5669537.d71768","group":"c0d97701.38fda8","name":"Multiline text","order":2,"width":0,"height":0,"format":"<style>\n    #mylog {\n        min-height: 300px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div><h3>Answer</h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":260,"wires":[[]]},{"id":"622228dd.0d92f8","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":240,"wires":[["f9f8960f.de5578","3871b0fe.61af9"]]},{"id":"3871b0fe.61af9","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":220,"wires":[]},{"id":"d2de87d4.5b8ec8","type":"switch","z":"4489e6f.9f73318","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":300,"wires":[["5cd7bb0a.098ec4"]]},{"id":"21ca9a59.9693d6","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":420,"y":100,"wires":[["6276e35b.2b6c9c","93c8ec3a.c35c7"]]},{"id":"9e93510a.5e6af","type":"debug","z":"4489e6f.9f73318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":120,"wires":[]},{"id":"67083adb.e8cb24","type":"subflow:9755adca.c3eda","z":"4489e6f.9f73318","name":"","x":460,"y":160,"wires":[["9e93510a.5e6af","ae245219.14075"]]},{"id":"93c8ec3a.c35c7","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":600,"y":60,"wires":[]},{"id":"94cbc66c.76d958","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/9266/${cmd}`;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["21ca9a59.9693d6"]]},{"id":"5a126a59.195384","type":"function","z":"4489e6f.9f73318","name":"setTopic","func":"let cmd = msg.payload;\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/9266/${cmd}`;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["67083adb.e8cb24"]]},{"id":"38b66eb9.eea0c2","type":"inject","z":"22b23614.75c2ca","name":"set topic","topic":"","payload":"ll","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["5370f8a4.943d88"]]},{"id":"fe8a5701.0971d8","type":"mqtt out","z":"22b23614.75c2ca","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":630,"y":260,"wires":[]},{"id":"fdd6394.b294ac8","type":"mqtt in","z":"22b23614.75c2ca","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":90,"y":400,"wires":[["e85a9e1f.065c9"]]},{"id":"ea5ea00.d6a596","type":"debug","z":"22b23614.75c2ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":400,"wires":[]},{"id":"e9885fd1.f821a","type":"function","z":"22b23614.75c2ca","name":"parseLogs","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseCompactLog(msg.payload, {\n    kind: parts[1],\n    parameterLabel: false,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["f23c470d.dad1f8"]]},{"id":"e85a9e1f.065c9","type":"switch","z":"22b23614.75c2ca","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":400,"wires":[["e9885fd1.f821a"]]},{"id":"ae061b5f.fbae68","type":"debug","z":"22b23614.75c2ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":620,"y":220,"wires":[]},{"id":"ac8535d6.06a1e8","type":"subflow:9755adca.c3eda","z":"22b23614.75c2ca","name":"","x":460,"y":260,"wires":[["ae061b5f.fbae68","fe8a5701.0971d8"]]},{"id":"5370f8a4.943d88","type":"function","z":"22b23614.75c2ca","name":"setTopic","func":"msg.topic = `bioreactor/q/2/lm`;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["ac8535d6.06a1e8"]]},{"id":"e8db3f7a.654f6","type":"inject","z":"22b23614.75c2ca","name":"query last log","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"","x":200,"y":120,"wires":[[]]},{"id":"b393ac06.23f5f","type":"influxdb out","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":590,"y":540,"wires":[]},{"id":"f23c470d.dad1f8","type":"function","z":"22b23614.75c2ca","name":"formatDbEntry","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["ea5ea00.d6a596"]]},{"id":"7ffe98aa.c60f58","type":"inject","z":"410091b5.cba5","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["665d9e94.ed5ca"]]},{"id":"665d9e94.ed5ca","type":"function","z":"410091b5.cba5","name":"setList","func":"msg.payload = [5992];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["c748e9ab.a30f88"]]},{"id":"c748e9ab.a30f88","type":"change","z":"410091b5.cba5","name":"","rules":[{"t":"set","p":"deviceList","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":60,"wires":[[]]}]