flow.json
[{"id":"c5669537.d71768","type":"tab","label":"advancedTab","disabled":false,"info":""},{"id":"4489e6f.9f73318","type":"tab","label":"parseCurrentLog","disabled":false,"info":""},{"id":"22b23614.75c2ca","type":"tab","label":"dbHandler","disabled":false,"info":""},{"id":"410091b5.cba5","type":"tab","label":"deviceListHandler","disabled":false,"info":""},{"id":"9755adca.c3eda","type":"subflow","name":"setAnswerTopic","info":"Sets the \"flow.topic\" of the parent flow to match the query topic. ","category":"","in":[{"x":60,"y":80,"wires":[{"id":"16e37238.7e311e"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"16e37238.7e311e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"570a93d6.30b89c","type":"subflow","name":"multiline text","info":"The **msg.payload** must be a long string. It can contain carriage returns. If there is overflow, scrollbars are added.\n\n**msg.title** sets the title of the text box.","category":"","in":[{"x":40,"y":80,"wires":[{"id":"f9f8960f.de5578"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"1013011c.82c3ef","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a22f749.6390c8","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","disabled":false,"hidden":false},{"id":"3b241c9d.d7d464","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffe111","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e0c50a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#e0c50a","edited":true},"page-titlebar-backgroundColor":{"value":"#e0c50a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f6df40","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#e0c50a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fc05906.0c6828","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"bioreactors","name":"","usetls":false,"tls":""},{"id":"371271e4.ff0abe","type":"ui_group","z":"","name":"Query devices","tab":"2a22f749.6390c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d2b6406.9676ac","type":"ui_group","z":"","name":"Current settings","tab":"2a22f749.6390c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a60d88af.070a38","type":"inject","z":"4489e6f.9f73318","name":"send command","topic":"","payload":"uc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["5a126a59.195384"]]},{"id":"ae245219.14075","type":"mqtt out","z":"4489e6f.9f73318","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":690,"y":120,"wires":[]},{"id":"559f68bc.17ccf8","type":"mqtt in","z":"4489e6f.9f73318","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":130,"y":260,"wires":[["d2de87d4.5b8ec8"]]},{"id":"58191347.ec8f3c","type":"debug","z":"4489e6f.9f73318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":180,"wires":[]},{"id":"5cd7bb0a.098ec4","type":"function","z":"4489e6f.9f73318","name":"parser","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: true,\n    parametersArray: true,\n    flatten: false\n  });\n\n\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["58191347.ec8f3c","6470ee0c.a4c9d","5839b334.28572c","7a40d4d8.f7be5c","b45c6b06.bcd638"]]},{"id":"6276e35b.2b6c9c","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":590,"y":100,"wires":[]},{"id":"8e0837cc.c1f918","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":130,"y":220,"wires":[["622228dd.0d92f8"]]},{"id":"96240e96.f99f4","type":"ui_text_input","z":"c5669537.d71768","name":"command","label":"Command","tooltip":"","group":"371271e4.ff0abe","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":120,"y":100,"wires":[["94cbc66c.76d958"]]},{"id":"16e37238.7e311e","type":"function","z":"9755adca.c3eda","name":"setAnswerTopic","func":"let array = msg.topic.split('/');\narray[1]= 'a';\nlet answerTopic = array.join('/');\n\nflow.set(\"$parent.topic\", answerTopic);\n\nmsg.answerTopic = answerTopic;\n\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":80,"wires":[[]]},{"id":"f9f8960f.de5578","type":"ui_template","z":"570a93d6.30b89c","group":"371271e4.ff0abe","name":"Multiline text","order":2,"width":0,"height":0,"format":"<style>\n    #mylog {\n        min-height: 300px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":80,"wires":[[]]},{"id":"622228dd.0d92f8","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":220,"wires":[["3871b0fe.61af9","6ac88092.5ae6"]]},{"id":"3871b0fe.61af9","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":200,"wires":[]},{"id":"d2de87d4.5b8ec8","type":"switch","z":"4489e6f.9f73318","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":260,"wires":[["5cd7bb0a.098ec4"]]},{"id":"21ca9a59.9693d6","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","env":[],"x":420,"y":100,"wires":[["6276e35b.2b6c9c","93c8ec3a.c35c7"]]},{"id":"9e93510a.5e6af","type":"debug","z":"4489e6f.9f73318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":500,"y":80,"wires":[]},{"id":"67083adb.e8cb24","type":"subflow:9755adca.c3eda","z":"4489e6f.9f73318","name":"","x":520,"y":120,"wires":[["ae245219.14075"]]},{"id":"93c8ec3a.c35c7","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":600,"y":60,"wires":[]},{"id":"94cbc66c.76d958","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/9266/${cmd}`;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["21ca9a59.9693d6"]]},{"id":"5a126a59.195384","type":"function","z":"4489e6f.9f73318","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = global.get('deviceList.current');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["67083adb.e8cb24","9e93510a.5e6af"]]},{"id":"38b66eb9.eea0c2","type":"inject","z":"22b23614.75c2ca","name":"set command","topic":"","payload":"ll","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["5370f8a4.943d88"]]},{"id":"fe8a5701.0971d8","type":"mqtt out","z":"22b23614.75c2ca","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":630,"y":260,"wires":[]},{"id":"fdd6394.b294ac8","type":"mqtt in","z":"22b23614.75c2ca","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":90,"y":400,"wires":[["e85a9e1f.065c9"]]},{"id":"ea5ea00.d6a596","type":"debug","z":"22b23614.75c2ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":400,"wires":[]},{"id":"e9885fd1.f821a","type":"function","z":"22b23614.75c2ca","name":"parseMultilog","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseMultilog(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: false,\n    parametersArray: false,\n    flatten: true\n  });\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["f23c470d.dad1f8"]]},{"id":"e85a9e1f.065c9","type":"switch","z":"22b23614.75c2ca","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":400,"wires":[["e9885fd1.f821a"]]},{"id":"ae061b5f.fbae68","type":"debug","z":"22b23614.75c2ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":440,"y":220,"wires":[]},{"id":"ac8535d6.06a1e8","type":"subflow:9755adca.c3eda","z":"22b23614.75c2ca","name":"","x":460,"y":260,"wires":[["fe8a5701.0971d8"]]},{"id":"5370f8a4.943d88","type":"function","z":"22b23614.75c2ca","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = global.get('deviceList.current');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["ac8535d6.06a1e8","ae061b5f.fbae68"]]},{"id":"e8db3f7a.654f6","type":"inject","z":"22b23614.75c2ca","name":"query last log","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"","x":200,"y":120,"wires":[[]]},{"id":"b393ac06.23f5f","type":"influxdb out","z":"22b23614.75c2ca","influxdb":"4fc05906.0c6828","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":590,"y":540,"wires":[]},{"id":"f23c470d.dad1f8","type":"function","z":"22b23614.75c2ca","name":"formatDbEntry","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["ea5ea00.d6a596"]]},{"id":"7ffe98aa.c60f58","type":"inject","z":"410091b5.cba5","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["665d9e94.ed5ca"]]},{"id":"665d9e94.ed5ca","type":"function","z":"410091b5.cba5","name":"setList","func":"msg.payload = {\n    current: 9266,\n    connected: [9266],\n    all: [9266]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["c748e9ab.a30f88"]]},{"id":"c748e9ab.a30f88","type":"change","z":"410091b5.cba5","name":"","rules":[{"t":"set","p":"deviceList","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[[]]},{"id":"6ac88092.5ae6","type":"change","z":"c5669537.d71768","name":"","rules":[{"t":"set","p":"title","pt":"msg","to":"Answer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["5c5917cc.840a68"]]},{"id":"5c5917cc.840a68","type":"ui_template","z":"c5669537.d71768","group":"371271e4.ff0abe","name":"Multiline text","order":2,"width":0,"height":0,"format":"<style>\n    #mylog {\n        min-height: 300px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div><h3 ng-bind=\"msg.title\"></h3></div>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"false\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":240,"wires":[[]]},{"id":"3c3c3434.e6b1bc","type":"ui_table","z":"4489e6f.9f73318","group":"3d2b6406.9676ac","name":"","order":3,"width":"6","height":"9","columns":[{"field":"name","title":"Setting","width":"55%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"Value","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"unit","title":"Unit","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":730,"y":380,"wires":[]},{"id":"6470ee0c.a4c9d","type":"change","z":"4489e6f.9f73318","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.parametersArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":380,"wires":[["3c3c3434.e6b1bc"]]},{"id":"4d0ce50f.5d976c","type":"ui_text","z":"4489e6f.9f73318","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"name":"","label":"Epoch","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"1090d0de.03363f","type":"ui_text","z":"4489e6f.9f73318","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":300,"wires":[]},{"id":"184b43b2.f5cd2c","type":"ui_text","z":"4489e6f.9f73318","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"name":"","label":"Device code","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":340,"wires":[]},{"id":"5839b334.28572c","type":"change","z":"4489e6f.9f73318","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["184b43b2.f5cd2c"]]},{"id":"7a40d4d8.f7be5c","type":"change","z":"4489e6f.9f73318","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["1090d0de.03363f"]]},{"id":"b45c6b06.bcd638","type":"change","z":"4489e6f.9f73318","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.epoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":260,"wires":[["4d0ce50f.5d976c","9d6cdde5.23cdb"]]},{"id":"9d6cdde5.23cdb","type":"debug","z":"4489e6f.9f73318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"2cdd2643.caf20a","type":"comment","z":"c5669537.d71768","name":"Query device group","info":"","x":150,"y":40,"wires":[]},{"id":"46059147.6ec81","type":"inject","z":"c5669537.d71768","name":"send command","topic":"","payload":"uc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["e3e44b4e.45efb8"]]},{"id":"6149fbc1.a43f34","type":"mqtt out","z":"c5669537.d71768","name":"","topic":"","qos":"","retain":"","broker":"1013011c.82c3ef","x":690,"y":460,"wires":[]},{"id":"1bd2ea7a.215396","type":"mqtt in","z":"c5669537.d71768","name":"","topic":"bioreactor/a/#","qos":"2","datatype":"auto","broker":"1013011c.82c3ef","x":130,"y":600,"wires":[["6fab6122.cc8f"]]},{"id":"210fdab8.08dca6","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":520,"wires":[]},{"id":"dfbad9ca.f02de8","type":"function","z":"c5669537.d71768","name":"parser","func":"const LegoinoUtil = global.get('LegoinoUtil');\n\nlet parts = msg.topic.split('/');\n\n// checking that topic is answer to command queries\nif (parts.length !== 4) return;\n\nlet data = LegoinoUtil.parseCurrentSettings(msg.payload, {\n    kind: 'OpenBio',\n    parameterLabel: true,\n    parameterInfo: true,\n    parametersArray: true,\n    flatten: false\n  });\n\n\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["210fdab8.08dca6","4f6593d8.d61c2c","c0bca7b.7eefc58","91be6682.f97bc8","4e984fa7.0cc2f"]]},{"id":"6fab6122.cc8f","type":"switch","z":"c5669537.d71768","name":"filter topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":600,"wires":[["dfbad9ca.f02de8"]]},{"id":"aaa1b76.6d4cf48","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":500,"y":420,"wires":[]},{"id":"4e5a9857.694668","type":"subflow:9755adca.c3eda","z":"c5669537.d71768","name":"","x":520,"y":460,"wires":[["6149fbc1.a43f34"]]},{"id":"e3e44b4e.45efb8","type":"function","z":"c5669537.d71768","name":"setTopic","func":"let cmd = msg.payload;\n\nlet id = global.get('deviceList.current');\n\nif (cmd !== '') {\n    msg.topic = `bioreactor/q/${id}/${cmd}`;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["4e5a9857.694668","aaa1b76.6d4cf48"]]},{"id":"409349db.1b04f8","type":"ui_table","z":"c5669537.d71768","group":"3d2b6406.9676ac","name":"","order":3,"width":"6","height":"9","columns":[{"field":"name","title":"Setting","width":"55%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"Value","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"unit","title":"Unit","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":730,"y":720,"wires":[]},{"id":"4f6593d8.d61c2c","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.parametersArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":720,"wires":[["409349db.1b04f8"]]},{"id":"ff7319e1.0c14f8","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"name":"","label":"Epoch","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":600,"wires":[]},{"id":"edbef6bb.628a68","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"name":"","label":"Device ID","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":640,"wires":[]},{"id":"dcf0599c.9e8ed8","type":"ui_text","z":"c5669537.d71768","group":"3d2b6406.9676ac","order":1,"width":0,"height":0,"name":"","label":"Device code","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":680,"wires":[]},{"id":"c0bca7b.7eefc58","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":680,"wires":[["dcf0599c.9e8ed8"]]},{"id":"91be6682.f97bc8","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.deviceId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["edbef6bb.628a68"]]},{"id":"4e984fa7.0cc2f","type":"change","z":"c5669537.d71768","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.epoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":600,"wires":[["ff7319e1.0c14f8","a0ed96ff.f6b318"]]},{"id":"a0ed96ff.f6b318","type":"debug","z":"c5669537.d71768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"3d88b3a8.bcb31c","type":"comment","z":"c5669537.d71768","name":"Current settings group","info":"","x":160,"y":400,"wires":[]}]